#item1{
    color:rgb(165, 114, 42);
}
#item2{
    color: burlywood;
}
#item3{
    color:rgb(255, 230, 198);
}
h1{
    color:orange;
}
p{
    font-size: 32px;
    color:red;
}
h2{
    font-family: Verdana;
}